img{
    display: flex;
    margin: auto;
}

#title{
    text-align: center;
    color: darkblue;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;

}
#dep{
    text-align: center;
    color: darkblue;
    border: darkblue 1px solid;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    font-size: 24px;
    font-weight: 700;
}


#detail{
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
}

#label{
    padding-right: 10px;
    color: darkblue;
    font-weight: 700;
    font-size: 20px;
    padding-top: 5px;
    font-family: 'Times New Roman', Times, serif;
}

#regno{
    position: relative;
    left: 19px;
    width: 79%;
    margin-top: 20px;
    margin-bottom: 20px;
}
#name{
    position: relative;
    left: 31px;
    width: 79%;
    margin-top: 20px;
    margin-bottom: 20px;
}
#branch{
    position: relative;
    left: 19px;
    width: 79%;
    margin-top: 20px;
    margin-bottom: 20px;
}
#email{
    position: relative;
    left: 32px;
    width: 79%;
    margin-top: 20px;
    margin-bottom: 20px;
}
#gender{
    position: relative;
    left: 19px;
    width: 79%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#form{
    /* text-align: center; */
    margin: auto;
    align-items: center;
    justify-content: center;
}

#btn{
    background-color: darkblue;
    color: white;
    border-radius: 25px;
    position: relative;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 700;
}

#name-span{
    position: relative;
    left: 20px;
    font-weight: 700;
}
#email-span{
    position: relative;
    left: 20px;
    font-weight: 700;
}
#branch-span{
    position: relative;
    left: 20px;
    font-weight: 700;
}
#gender-span{
    position: relative;
    left: 20px;
    font-weight: 700;
}

#btn:hover{
    background-color: white;
    color: darkblue;
}


#btn1{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin: auto;
}

#bottom{
    margin: auto;
    padding-top: 20px;
}


@media screen and (max-width:480px){
    #title{
        font-size:30px;
        padding-top: 20px;
    }
}

@media screen and (max-width:480px){
    img{
         width: 180px;
    }
}
@media screen and (max-width:480px){
    #dep1{
         font-size: 20px;
         margin: auto;
         width: 80%;

    }
}
/* @media screen and (max-width:480px){
    #dep1{
         font-size: 20px;
         margin: auto;
         width: 80%;
    }
} */
@media screen and (max-width:480px){
   #label{
         width: 180px;
         padding-bottom: 5px;
         padding-top: 5px;
         padding-left: 30px;
    }
}
@media screen and (max-width:480px){
    #name{
          margin: auto;
          width: 82%;
    }
}
@media screen and (max-width:480px){
    #branch{
          margin: auto;
          width: 82%;
          left: 30px;
    }
}
@media screen and (max-width:480px){
    #gender{
          margin: auto;
          width: 82%;
          left: 30px;
          padding-bottom: 5px;
    }
}
@media screen and (max-width:480px){
    #email{
          margin: auto;
          width: 82%;
          left: 30px;
          padding-bottom: 2px;
    }
}
@media screen and (max-width:480px){
    #name-span,#gender-span,#branch-span,#email-span{
        left: 30px;
           
    }
}
@media screen and (max-width:480px){
    #deep1{
           font-size: 12px;
           margin-bottom: 10px;
           position: relative;
           width: 80%;
           left: 35px;
    }
}
@media screen and (max-width:480px){
    #deep2{
           font-size: 12px;
           margin-bottom: 10px;
           position: relative;
            width: 80%;
            left: 35px;
    }
}
@media screen and (max-width:480px){
    .select{
            font-size: 15px;
             width: 50%;
    }
}
@media screen and (max-width:480px){
    #option1,#option2,#option3,#option4{
            font-size: 1px;
             width: 50%;
    }
}